* {
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
}
button {
    cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxODAzMTBfMjM4/MDAxNTIwNjA4MjY1MjEw.xu9Xwp1skqqufw1vS0D5rkPnI3UO18fHy4qZSn_03EMg.0CZ0qQiyKzxQh-BfPDeZNqJwO9_z7y8oGifiC51j7Ekg.GIF.ertyupoq/tumblr_nrr3fwiV421qlhvfoo1_r1_500.gif?type=w2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.calculator {
    width: 350px;
    height: 500px;
    background-color: #FFD8DC;
    border: 5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box1{
    padding: 20px;
    width: 310px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.history {
    text-align: right;
    height: 20px;
    width: 268px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: medium;
    border-radius: 0;
    overflow: hidden;
}
.display {
    text-align: right;
    font-size: x-large;
    font-weight: 800;
    border-radius: 0;
    overflow: hidden;
}

.box2 {
    margin-top: 20px;
    width: 310px;
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.miniBox {
    margin: 5px 0px;
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 128, 255, 0.2); 
}
.confirm, .clear {
    margin: 0px 4px;
    width: 128px;
    height: 40px;
    background-color: #FFDC98;
    border-color: #FFDC98;
    font-size: large;
    font-weight: 500;
}
.num, .decimal {
    margin: 0px 4px;
    width: 60px;
    height: 40px;
    background-color:#C8F8EE;
    border-color: #C8F8EE;
    font-size: large;
    font-weight: 500;
}
.zero {
    margin: 0px 4px;
    width: 128px;
    height: 40px;
    background-color:#C8F8EE;
    border-color: #C8F8EE;
    font-size: large;
    font-weight: 500;
}
.operator {
    margin: 0px 4px;
    width: 60px;
    height: 40px;
    background-color:rgba(158, 128, 255);
    border-color: rgba(158, 128, 255);
    color: white;
    font-size: large;
    font-weight: 500;
}